apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-power-tools
  namespace: immich
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-power-tools
  template:
    metadata:
      labels:
        app: immich-power-tools
    spec:
      containers:
        - name: immich-power-tools
          image: ghcr.io/varun-raj/immich-power-tools:0.19.1
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: immich-power-tools-secret
          env:
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: immich-db-app
                key: host
          - name: DB_PORT
            valueFrom:
              secretKeyRef:
                name: immich-db-app
                key: port
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: immich-db-app
                key: username
          - name: DB_DATABASE_NAME
            valueFrom:
              secretKeyRef:
                name: immich-db-app
                key: dbname
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: immich-db-app
                key: password
---
apiVersion: v1
kind: Service
metadata:
  name: immich-power-tools
  namespace: immich
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.254.13
  externalTrafficPolicy: Local
  ports:
    - port: 8001
      targetPort: 3000
  selector:
    app: immich-power-tools
