apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-kiosk
  namespace: immich
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-kiosk
  template:
    metadata:
      labels:
        app: immich-kiosk
    spec:
      containers:
        - name: immich-kiosk
          image: ghcr.io/damongolding/immich-kiosk:0.27.0
          ports:
            - containerPort: 3000
          env:
          - name: KIOSK_IMMICH_API_KEY
            valueFrom:
              secretKeyRef:
                name: immich-power-tools-secret
                key: IMMICH_API_KEY
          - name: KIOSK_PASSWORD
            valueFrom:
              secretKeyRef:
                name: immich-power-tools-secret
                key: IMMICH_API_KEY
          - name: KIOSK_IMMICH_URL
            valueFrom:
              secretKeyRef:
                name: immich-power-tools-secret
                key: IMMICH_URL
          - name: KIOSK_IMMICH_EXTERNAL_URL
            valueFrom:
              secretKeyRef:
                name: immich-power-tools-secret
                key: EXTERNAL_IMMICH_URL

          - name: LANG
            value: "sv_SE"
          - name: TZ
            value: "Europe/Stockholm"
          - name: KIOSK_DATE_FORMAT
            value: "YYYY-MM-DD"
          - name: KIOSK_ALBUM
            value: "all"
          - name: KIOSK_LAYOUT
            value: "splitview"
          - name: KIOSK_SHOW_TIME
            value: "true"
          - name: KIOSK_SHOW_DATE
            value: "true"
          - name: KIOSK_SHOW_ALBUM_NAME
            value: "true"
          - name: KIOSK_SHOW_PERSON_NAME
            value: "true"
          - name: KIOSK_SHOW_PERSON_AGE
            value: "true"
          - name: KIOSK_SHOW_IMAGE_LOCATION
            value: "true"
          - name: KIOSK_BACKGROUND_BLUR
            value: "false"
          - name: KIOSK_EXCLUDED_ALBUMS
            value: "c5c36509-af76-444f-9423-192761e97485,d4519543-56ac-4da7-bbca-a6a4e9957f9a,7f6403d6-e52c-4fad-b82f-62ad652c0d59"

---
apiVersion: v1
kind: Service
metadata:
  name: immich-kiosk-svc
  namespace: immich
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.254.18
  externalTrafficPolicy: Local
  ports:
    - port: 80
      targetPort: 3000
  selector:
    app: immich-kiosk

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich-kiosk-ingress
  namespace: immich
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    kubernetes.io/ingress.class: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  rules:
  - host: immich-kiosk.jorblad.se
    http:
      paths:
      - backend:
          service:
            name: immich-kiosk-svc
            port:
              number: 80
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - immich-kiosk.jorblad.se
    secretName: immich-kiosk-jorblad-se-tls